<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyBuddy"
        tools:targetApi="31">
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="true"
            android:label="Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SignupActivity"
            android:exported="true"
            android:label="Sign Up" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:label="Log In" />

        <activity
            android:name=".ui.UserProfileActivity"
            android:exported="true"
            android:label="Preference" />

        <activity
            android:name=".ui.TopicPreferenceActivity"
            android:exported="true"
            android:label="Preference" />

        <activity
            android:name=".ui.StudyTimePreferenceActivity"
            android:exported="true"
            android:label="Preference" />

        <activity
            android:name=".ui.DifficultyPreferenceActivity"
            android:exported="true"
            android:label="Preference" />

        <activity
            android:name=".ui.MatchUserActivity"
            android:exported="true"
            android:label="home" />

        <activity
            android:name=".ui.GenAIActivity"
            android:exported="true"
            android:label="genai" />
    </application>

</manifest>